body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #ff1ba8);
    margin: 0;
    padding: 0;
}


form {
    background: white;
    max-width: 400px;
    margin: 40px auto;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}


h2 {
    text-align: center;
    color: #4e0222;
}


input, select, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 14px;
    transition: 0.3s;
}

label {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-bottom: 12px;
}

label input {
    width: auto;
    margin-right: 8px;
}
button {
    width: 100%;
    padding: 12px;
    background: #cf4ca4;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}
